*{
margin: 5px 5px ;
font-family: Arial, Helvetica, sans-serif;
}
.section1{
    background-image:url(../images/banner/banner3.png);
    height: 808px;
    width:cover;
    background-repeat: no-repeat;
    background-color: blue;
   
}
#head-text1{
    color: white;
    padding-left: 50% ;
    padding-right:5%;
    padding-top: 20%;
    text-align: right;
    Font-style: Bold;
}
#head-text2{
    color: white;
    padding-left: 50% ;
    padding-right:5%;
    text-align: right;
}
#button1{
    margin-top: 10px;
    width: 160px;
    height: 56px;
    left: 640px;
    top: 438px;
    text-align: center;
    align-items: right;
    background: white;
    border-radius: 5px;
    margin-right: 150px;
    margin-left: 82%;
    align-content: right;
}
#sec2details{
    display: flex;
    width: 1000px;
    height: 700px;
    margin-left: 100px;
    margin-right: 100px;
}
#sec2img{
    align-items: center;
    
    margin-bottom:20%;
    height: 600px;
    width: 500px;
}
#sec2text{
        text-align: justify;
        margin-left:20%;
        margin-top: 17%;
        margin-bottom: 20%;
}
#sec2details ul.text2,p.text2{
    color:rgb(88, 81, 81);
    font-size:10;
}
.section3 h3{
    text-align: center;
}
#sec3details{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#sec3details p.text3{
    color:rgb(88, 81, 81);
    text-align: center;
}
#sec3details img.img3{
    padding-left: 30%;
    height: 50px;
    width: 50px;
}
#mindset{
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(../images/gradient1.png) ,url(../images/watch.png);
    background-repeat: no-repeat, repeat;
    background-blend-mode:lighten;
    height: 250px;
}
#mindsetxt h1{
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
    padding-top: 40px;
    color: white;
}
#button2{
    margin-top: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    align-items: left;
    background: white;
    border-radius: 5px;
    margin-left: 70px;
    align-content:left;
    color: rgb(20, 124, 165);
    
}
.Footer{
    margin-top: 50px;
    height: 500px;
    width: cover;
    background-color: black;
    display: flex;
}
#footerdetails h2{
    padding-top: 10px;
    color: white;
    text-align:left;
    padding-left: 100px;
}
#footerdetails ul{
    display: flex;
    
}
