*{
    margin:0px;
    font-family: Lato;
    font-style: normal;
}
/*Section 1*/
.Section1{
    background-color: rgb(255, 222, 227);
    height:500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#HeaderText1{
    padding: 100px 70px 5px 100px;
    font-size:  25px;
    font-weight: 800; 
    
}
#HeaderText2{
    padding: 10px 0px 5px 100px; 
    font-size:  12px;
    font-weight: 400; 
    color:rgba(39, 39, 39, 0.60);
}
.Main_button{
    border-radius: 8px;
    background: #E55473; 
    color: #FFF; 
    font-size: 15px;
    font-weight: 700; 
    padding: 10px 17px;
    margin: 10px 0px 0px 100px;
}
/*Section 2*/
#Section_2_header1{
    padding: 50px 0px 10px 0px;
    font-size:  18px;
    font-weight: 800;
    text-align: center;
}
#Section_2_header2{
    font-size:  12px;
    font-weight: 400; 
    color:rgba(39, 39, 39, 0.60);
    text-align: center;
}
.Section_2_pictures{
    margin: 70px 150px 0px;
    justify-content: space-around;
    display: flex;
}
#sec2_pic1{
   /* background-color: lightpink;*/
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 250px;
    width: 230px;
    padding: 80px 30px 0px 50px;


}
#sec2_pic1{
    bac
}
#sec2_pic1{
    
}
