*{
    margin:0px;
    font-family: Lato;
}
/*Section 1*/
.Section1{
    background-color: rgb(255, 222, 227);
    height:500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#HeaderText1{
    padding: 100px 70px 5px 100px;
    font-size:  25px;
    font-style: normal;
    font-weight: 800; 
    padding-bottom:5px;
}
#HeaderText2{
    padding: 10px 0px 0px 100px; 
    font-size:  12px;
    font-style: normal;
    font-weight: 400; 
    padding-bottom:5px;
    color:rgba(39, 39, 39, 0.60);
}
.Main_button{
    border-radius: 8px;
    background: #E55473; 
    color: #FFF; 
    font-size: 15px;
    font-style: normal;
    font-weight: 700; 
    padding: 10px 17px;
    margin: 10px 0px 0px 100px;
}
/*Section 2*/
#Section_2_header1{
    padding: 0px 50px;
    font-size:  18px;
    font-style: normal;
    font-weight: 800; 
    padding-bottom:5px;
}
#Section_2_heade2{


}


