*{
    margin:0px;
}
.Section1{
    background-color: rgb(248, 209, 215);
    height:500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#HeaderText1{
    padding: 100px 70px 0px 100px; 
    font-family: Lato;
    font-size:  25px;
    font-style: normal;
    font-weight: 800; 
    padding-bottom:5px;
}
#HeaderText2{
    padding: 10px 0px 0px 100px; 
}



